* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f1f1f1;
}

.calc-container {
  height: 360px;
  width: 300px;
  margin: 130px auto;
  background: linear-gradient(
    to top left,
    rgb(150, 227, 255),
    rgb(255, 144, 255),
    rgb(255, 49, 135)
  );
  box-shadow: 2px 2px 5px gray;
  padding: 20px;
}

h1 {
  color: rgb(78, 78, 78);
  margin-bottom: 10px;
}

input {
  width: 200px;
  margin: 5px 0 15px 0;
  padding: 5px 10px;
  font-size: 15px;
  font-family: helvetica;
  font-weight: bolder;
  color: gray;
  outline: none;
  border-top-right-radius: 10px;
  border: 1px solid gray;
}

.calculate-btn {
  height: 30px;
  width: 100px;
  background-color: mediumseagreen;
  color: white;
  font-size: 17px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 8px rgb(182, 255, 233);
  cursor: pointer;
}

.result {
  font-size: 17px;
  color: #333;
  padding: 20px 0 10px 0;
  overflow-x: hidden;
}

.message {
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}

::placeholder {
  opacity: 0.7;
}
